<%-
  components = @controller_class_path.map{|m| ":#{m.underscore}"}.join(",").tap{|p| p << ", " if p.present?}
-%>
<%%= simple_form_for [<%= components %>@<%= resource_name %>], html: { class: "form-horizontal" } do |f| %>
  <%- columns.each do |column| -%>
  <%- unless column.name.to_sym == :deleted_at -%>
  <%%= f.input :<%= column.name %> %>
  <%- end -%>
  <%- end -%>
  <%- if ::SimpleForm::FormBuilder.instance_methods.include?(:wrapped_button) -%>
  <%%= f.button :wrapped, cancel: <%= controller_routing_path %>_path %>
  <%- else -%>
  <div class="form-actions">
    <%% if @<%= resource_name %>.new_record? %>
      <%%= f.button :submit, class: "btn-primary" %>
      <%%= link_to t(".cancel", default: t("helpers.links.cancel")),
                  <%= controller_routing_path %>_path, class: "btn" %>
    <%% else %>
      <div class="row-fluid">
        <div class="span12">
          <%%= f.button :submit, class: "btn-primary" %>
          <%%= link_to t(".cancel", default: t("helpers.links.cancel")),
                      [<%= components %>@<%= resource_name %>], class: "btn" %>
          <%% if can? :destroy, @<%= resource_name %> %>
            <%%= link_to t(".destroy", default: t("helpers.links.destroy")),
                        [<%= components %>@<%= resource_name %>],
                        method: :delete,
                        confirm: t(".confirm", default: t("helpers.links.confirm", default: "Are you sure?")),
                        class: "btn btn-danger pull-right" %>
          <%% end %>
        </div>
      </div>
    <%% end %>
  </div>
  <%- end -%>
<%% end %>
