<%-
  components = @controller_class_path.map{|m| ":#{m.underscore}"}.join(",").tap{|p| p << ", " if p.present?}
-%>
<%%= form_for [<%= components %>@<%= resource_name %>], html: { class: "form-horizontal" } do |f| %>
  <%- columns.each do |column| -%>
  <div class="control-group">
    <%%= f.label :<%= column.name %>, class: "control-label" %>
    <div class="controls">
      <%%= f.<%= column.field_type %> :<%= column.name %>, class: "<%= column.field_type %>" %>
    </div>
  </div>
  <%- end -%>

  <div class="form-actions">
    <%% if @<%= resource_name %>.new_record? %>
      <%%= f.submit nil, class: "btn btn-primary" %>
      <%%= link_to t(".cancel", default: t("helpers.links.cancel")),
                  <%= controller_routing_path %>_path, class: "btn" %>
    <%% else %>
      <div class="row-fluid">
        <div class="span12">
          <%%= f.submit nil, class: "btn btn-primary" %>
          <%%= link_to t(".back", default: t("helpers.links.back")),
                      [<%= components %>:<%= plural_resource_name %>], class: "btn" %>
          <%% if can? :destroy, @<%= resource_name %> %>
            <%%= link_to t(".destroy", default: t("helpers.links.destroy")),
                        [<%= components %>@<%= resource_name %>],
                        method: :delete,
                        confirm: t(".confirm", default: t("helpers.links.confirm", default: "Are you sure?")),
                        class: "btn btn-danger pull-right" %>
          <%% end %>
        </div>
      </div>
    <%% end %>
  </div>
<%% end %>
