<%-
  components = @controller_class_path.map{|m| ":#{m.underscore}"}.join(",").tap{|p| p << ", " if p.present?}
-%>
<%%- model_class = <%= resource_name.classify %>.new.class -%>
<%%- model_headers = Hash[[
  # ヘッダの出力に使用する文字列をここで用意する
  :id,
  <%- columns.each do |column| -%>
  <%- unless column.name.to_sym == :deleted_at -%>
  :<%= column.name %>,
  <%- end -%>
  <%- end -%>
  :created_at,
].map{|name| [name,model_class.human_attribute_name(name)]}] -%>
<%%- link_action = t(".link_action", default: "edit") -%>
<div class="page-header">
  <div class="row-fluid">
    <div class="span11">
      <h1><%%=t ".title", default: model_class.model_name.human %></h1>
    </div>
    <div class="span1">
      <div style="text-align: right;">
        <%%= link_to t(".new", default: t("helpers.links.new")),
                      [:new, <%= components %>:<%= resource_name %>],
                      class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>

<%%= form_for @<%= plural_resource_name %>_search, url: [<%= components %>:<%= plural_resource_name %>], method: :get, html: { class: "well form-search form-inline" } do |f| %>
  <div class="search-controls">
    <%%= f.text_field :id_eq, placeholder: model_headers[:id], class: "input-small", title: model_headers[:id] %>
  </div>
  <%- columns.each do |column| -%>
  <%- if column.name.to_sym != :deleted_at && column.type != :text -%>
  <div class="search-controls">
    <%%= f.text_field :<%= column.name %>_<%= ([:string, :text].include? column.type) ? "like" : "eq" %>, placeholder: model_headers[:<%= column.name %>], class: "input-small", title: model_headers[:<%= column.name %>] %>
  </div>
  <%- end -%>
  <%- end -%>
  <div class="search-controls">
    <%%= f.text_field :created_at_gte, placeholder: model_headers[:created_at], class: "input-medium datetimepicker", title: model_headers[:created_at] %>
    ～
    <%%= f.text_field :created_at_lte, placeholder: model_headers[:created_at], class: "input-medium datetimepicker", title: model_headers[:created_at] %>
  </div>
  <div class="search-buttons">
    <%%= f.submit t(".search", default: t("helpers.submit.search")) %>
  </div>
<%% end %>

<%% if @<%= plural_resource_name %>.count == 0 %>
  <div class="alert alert-info">
    <%%=t ".not_found", model: model_class.model_name.human,
         default: t("helpers.messages.not_found", model: model_class.model_name.human, default: "not found") %>
  </div>
<%% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%%= sort_link @<%= plural_resource_name %>_search, :id, model_headers[:id], default_order: :desc %></th>
        <%- columns.each do |column| -%>
        <%- unless column.name.to_sym == :deleted_at -%>
        <%- if !(column.name =~ /_id$/) && column.type != :text -%>
        <th><%%= sort_link @<%= plural_resource_name %>_search, :<%= column.name %>, model_headers[:<%= column.name %>] %></th>
        <%- else -%>
        <th><%%= model_headers[:<%= column.name %>] %></th>
        <%- end -%>
        <%- end -%>
        <%- end -%>
        <th><%%= sort_link @<%= plural_resource_name %>_search, :created_at, model_headers[:created_at], default_order: :desc %></th>
        <%% if can? link_action, model_class %>
          <th><%%=t ".actions", default: t("helpers.actions") %></th>
        <%% end %>
      </tr>
    </thead>
    <tbody>
      <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
        <tr>
          <td><%%= <%= resource_name %>.id %></td>
          <%- columns.each do |column| -%>
          <%- unless column.name.to_sym == :deleted_at -%>
          <td><%%= <%= resource_name %>.<%= column.name %> %></td>
          <%- end -%>
          <%- end -%>
          <td><%%=l_short <%= resource_name %>.created_at %></td>
          <%% if can? link_action, model_class %>
            <td>
              <%%= link_to t(".#{link_action}", default: t("helpers.links.#{link_action}")),
                          [(link_action == "show" ? nil : link_action), <%= components %><%= resource_name %>], class: "btn btn-mini" %>
            </td>
          <%% end %>
        </tr>
      <%% end %>
    </tbody>
  </table>
<%% end %>
<div class="pagination pagination-centered">
  <%%= paginate @<%= plural_resource_name %>, theme: "manage" %>
</div>
