<%-
  components = @controller_class_path.map{|m| ":#{m.underscore}"}.join(",").tap{|p| p << ", " if p.present?}
-%>
<%%- model_class = @<%= resource_name %>.class -%>
<div class="page-header">
  <h1><%%=t ".title", default: t("helpers.titles.show", model: model_class.model_name.human,
                                title: " (id: #{@<%= resource_name %>.id})",
                                default: "#{model_class.model_name.human}") %></h1>
</div>

<table class="table table-bordered table-striped table-pairs">
  <tbody>
    <tr>
      <th><%%= model_class.human_attribute_name(:id) %></th>
      <td><%%= @<%= resource_name %>.id %></td>
    </tr>
<%- columns.each do |column| -%>
    <tr>
      <th><%%= model_class.human_attribute_name(:<%= column.name %>) %></th>
      <td><%%= @<%= resource_name %>.<%= column.name %> %></td>
    </tr>
<%- end -%>
    <tr>
      <th><%%= model_class.human_attribute_name(:created_at) %></th>
      <td><%%=l_short @<%= resource_name %>.created_at %></td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <div class="row-fluid">
    <div class="span10">
      <%%= link_to t(".edit", default: t("helpers.links.edit")),
                    [:edit, <%= components %>@<%= resource_name %>], class: "btn" %>
    </div>
    <div class="span2" style="text-align: right">
      <%%= link_to t(".destroy", default: t("helpers.links.destroy")),
                    [<%= components %>@<%= resource_name %>],
                    method: "delete",
                    confirm: t(".confirm", default: t("helpers.links.confirm", default: "Are you sure?")),
                    class: "btn btn-danger" %>
    </div>
  </div>
</div>
