<%-
  components = @controller_class_path.map{|m| ":#{m.underscore}"}.join(",").tap{|p| p << ", " if p.present?}
-%>
<%%- model_class = @<%= resource_name %>.class -%>
<%%- model_headers = Hash[[
  # ヘッダの出力に使用する文字列をここで用意する
  :id,
  <%- columns.each do |column| -%>
  <%- unless column.name.to_sym == :deleted_at -%>
  :<%= column.name %>,
  <%- end -%>
  <%- end -%>
  :created_at,
].map{|name| [name,model_class.human_attribute_name(name)]}] -%>
<div class="page-header">
  <h1><%%=t ".title", default: t("helpers.titles.show", model: model_class.model_name.human,
                                title: " (id: #{@<%= resource_name %>.id})",
                                default: "#{model_class.model_name.human}") %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%%= model_headers[:id] %></dt>
  <dd>: <%%= @<%= resource_name %>.id %></dd>

  <%- columns.each do |column| -%>
  <%- unless column.name.to_sym == :deleted_at -%>
  <dt><%%= model_headers[:<%= column.name %>] %></dt>
  <dd>: <%%=<%= case column.type.to_sym
                  when :datetime
                    "l_short"
                  when :date
                    "l_long"
                end %> @<%= resource_name %>.<%= column.name %> %></dd>

  <%- end -%>
  <%- end -%>
  <dt><%%= model_headers[:created_at] %></dt>
  <dd>: <%%=l_short @<%= resource_name %>.created_at %></dd>
</dl>

<%% if can? :edit, @<%= resource_name %> %>
  <div class="form-actions">
    <div class="row-fluid">
      <div class="span12">
        <%%= link_to t(".edit", default: t("helpers.links.edit")),
                    [:edit, <%= components %>@<%= resource_name %>], class: "btn" %>
        <%%= link_to t(".back", default: t("helpers.links.back")),
                    [<%= components %>:<%= plural_resource_name %>], class: "btn" %>
        <%% if can? :destroy, @<%= resource_name %> %>
          <%%= link_to t(".destroy", default: t("helpers.links.destroy")),
                      [<%= components %>@<%= resource_name %>],
                      method: "delete",
                      confirm: t(".confirm", default: t("helpers.links.confirm", default: "Are you sure?")),
                      class: "btn btn-danger pull-right" %>
        <%% end %>
      </div>
    </div>
  </div>
<%% end %>
